<!DOCTYPE html>
<html lang="en" class="yui3-loading">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    {{>yui-config}}
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.6.0/build/cssreset/cssreset-min.css&3.6.0/build/cssgrids/cssgrids-min.css&3.6.0/build/cssfonts/cssfonts-min.css&3.6.0/build/cssbase/cssbase-min.css">
	<script src="{{yuiSeedUrl}}"></script>
</head>
<body>

{{>layout_content}}

</body>
</html>
